@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

body {
  background-color: hsl(225, 6%, 13%);
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main {
  width: 375px;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

main header {
  padding: 30px;
}

main header img {
  width: 32%;
}

main section {
  padding: 0 30px 92px;
}

main section h1 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: hsl(0, 6%, 24%);
}

main section h1 span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

main section p {
  text-align: center;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.5em;
  color: hsl(0, 36%, 70%);
  margin-bottom: 30px;
}

main section form {
  position: relative;
}

main section form input {
  outline: none;
  border-radius: 25px;
  padding: 15px 24px;
  color: hsl(0, 36%, 70%);
  border: thin solid hsl(0, 36%, 70%, 0.8);
  display: block;
  width: 80%;
}

main section form input::placeholder {
  color: hsl(0, 36%, 70%, 0.8);
  font-weight: 400;
  font-size: 0.8em;
}

main section form button {
  position: absolute;
  outline: none;
  border: none;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  right: 0;
  top: 0;
  height: 100%;
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
}

main section form button:hover {
  background: hsl(0, 78%, 91%);
}

main section form .error-icon {
  display: none;
  position: absolute;
  top: 12px;
  right: 82px;
}

main section form .error-msg {
  display: none;
  padding-top: 10px;
  padding-left: 24px;
  color: hsl(0, 93%, 68%);
  font-weight: 400;
}

footer {
  width: 100%;
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}
